<div class="jumbotron jumbotron-user">
  <h3>Login</h3>
  <p class="detail-sm">
    Welcome
  </p>
</div>
<div class="well well-sm well-release">

  <%= form_tag({:method=>'post'},{:class => 'form-inline'}) do%>
      <% if !flash[:notice].blank? %>
          <div class="notice">
            <span class="highlight"><%= flash[:notice] %></span>
          </div>
      <% end %>
      <div class="form-group">
        <%=label_tag('email', nil, class: 'label')%>
        <%=text_field_tag('email',nil, class:'topcoat-text-input')%>
      </div>
      <div class='form-group'>
        <%=label_tag('password', nil, class: 'label')%>
        <%= text_field_tag('password', nil, class:'topcoat-text-input')%>
      </div>

      <div class="form-group">
        <%= submit_tag('Login', class: 'topcoat-button--cta') %>
      </div>
  <% end %>
</div>
