<div class="container">
  <%= render 'layouts/jumbotron' %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row" ng-controller="searchResultsController">
    <div class="col-xs-12 col-md-12">
      <div class="row">
        <% @response.each_with_index do |release, index| %>
            <% if index % 2 == 0 && index != 0%>
                </div>
                <div class="row">
            <%end%>
            <div class="col-md-6">
              <div class="well well-sm well-release">

                <div class="row">
                  <div class="col-md-1 col-sm-1">
                    <div style="margin-top:10px;">
                        <save-artist event="saveArtist('<%=release[:artist_id]%>')"></save-artist>
                    </div>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="highlight">
                      <%=release[:type]%>
                    </div>
                    <%= link_to releases_path({:id => release[:artist_id]}) do%>
                        <div style="width:auto; float:left;">

                          <p class="name-lg"><%=release[:artist_name]%></p>
                        </div>
                        <div class='icomatic' style="float:left; display:inline;font-size:20px; margin:10px 0 0 10px;"><span>search</span></div>
                    <%end%>
                    <div>
                      <%= link_to release_path({:release => release[:title], :artist => release[:artist_name],:mbid => release[:artist_id]}) do%>
                        <p class="highlight"><%=release[:title]%></p>
                      <%end%>
                      <p><%=release[:label]%></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <%end%>
      </div>
    </div>
  </div>

</div>
