<div class="container">
  <%= render 'layouts/jumbotron' %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row" ng-controller="resultsController">
        doc results: <%=@doc%>
    </div>
  <div>
    <% @output.each_with_index do |page, index| %>
        <div class='well well-lg'>
          artist name: <%= page.name%>
          </br>
          artist id: <%= page.id%>
          </br>
          <%= page.country_id%>
          </br>
          country: <%= page.country_name%>
          </br>
          area: <%= page.area_name%>
          </br>
          inception: <%= page.start%>
          </br>
          end: <%= page.stop%>
          </br>
          genre: <%= page.genre%>

        </div>

        <hr/>
    <% end %>

  </div>
</div>