<div class="container">
  <%= render 'layouts/jumbotron' %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row" ng-controller="searchResultsController">
    <div class="col-lg-12 col-xs-12">
      <%@artists['artist'].each do |artist|%>
          <div class='well well-lg'>
            <div class="row">
              <div class="col-md-1 col-sm-1">

                <save-artist event="saveArtist('<%=artist['id'].to_s%>')"></save-artist>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <div>
                  <p class="highlight"><%=artist['type']%></p>
                  <%= link_to releases_path({:id => artist['id']}) do%>
                      <div style="width:auto; float:left;">
                        <p class="name-lg"><%= artist['name']%></p>
                      </div>
                      <div class='icomatic' style="float:left; display:inline;font-size:20px; margin:10px 0 0 10px;"><span>search</span></div>
                  <%end%>
                </div>
                <div>
                  <%unless artist['area'].nil?%>
                      <p class="highlight"><%= artist['area']['name']%></p>
                  <%end%>
                  <%unless artist['tags'].nil? %>
                      <%@genres = artist['tags'].to_a%>
                      <%@genres.each_with_index do |tag,i|%>
                      <%=tag['name']%><%=', ' unless i == @genres.length-1%>
                      <%end%>
                  <%end%>
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-12">
                <div>score</div>
                <span class="topcoat-notification"><%=artist['score']%></span>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>
 </div>


<!-- http://icomatic.github.io/sample-set/kit/icomatic.html -->