<div class="container">
  <%= render 'layouts/jumbotron' %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row" ng-controller="resultsController">
    <div class="col-lg-12 col-xs-12">
    <% @output.each_with_index do |page, index| %>
        <div class='well well-lg'>

          <!--<div class='icomatic' style="float:right;"><a href="#">plus</a></div>-->
          <p class="highlight"><%= page.type%></p>
          <div class="row">
            <div class="col-md-10 col-xs-10">

              <%= link_to releases_path({:id => page.id}) do%>
              <div style="width:auto; float:left;">
                <p class="name-lg"><%= page.name%></p>
              </div>
              <div class='icomatic' style="float:left; display:inline;font-size:20px; margin:10px 0 0 10px;"><span>search</span></div>
              <%end%>
            </div>
            <div class="col-md-2 col-xs-2">
              <div style="float:right;">
                <div>score</div>
                <span class="topcoat-notification"><%=page.relevance%></span>
              </div>
            </div>
          </div>

          <%unless page.area_name.empty? && page.country_name.empty?%>
            <p class="highlight"><%= page.area_name%> <%= page.country_name%></p>
          <%end%>
          <%unless page.description.empty?%>
            <p> <%= page.description%></p>
          <%end%>
          <%unless page.genre == '' %>
              <%@genres = page.genre[0,5]%>
              <%@genres.each_with_index do |genre, i|%>
                  <%=genre%> <%=', ' unless i == @genres.length-1%>
              <%end%>

          <%end%>
        </div>
    <% end %>
    </div>
  </div>
</div>
<%=@output%>
<!-- http://icomatic.github.io/sample-set/kit/icomatic.html -->