<div class="container">
  <div class="jumbotron jumbotron-releases">
    <div class="row">
      <div class="col-md-1 col-sm-1">
        <div style="margin-top: 30px;">
          <%=link_to releases_path({:id => @mbid}) do%>
              <div class="icomatic" style="font-size:30px;padding-bottom:10px;"><span>backlight</span></div>
          <%end%>
        </div>

      </div>
      <div class="col-md-11 col-sm-11 col-xs-12">
        <h1><%=@artist_name%></h1>
        <p class="highlight">On tour</p>
      </div>
    </div>
    </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%@events.each do |event|%>
              <div class='well well-lg'>
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-xs-4">
                    <div class="row">
                      <div class="col-md-12">
                        <%if event.is_today%>
                            <div style="margin:0 0 5px 0;">
                                <span class="topcoat-notification">Today</span>
                            </div>
                        <%end%>
                        <div>
                         <span class="highlight"><%=event.date.strftime('%A, %B %d')%></span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <%event.artists.each_with_index do |artist,index|%>
                          <% if index % 2 == 0 && index != 0%>
                              </div>
                              <div class="row">
                          <%end%>
                          <div class="col-md-6" >
                            <%=artist%><BR/>
                          </div>
                      <%end%>
                    </div>
                   </div>
                  <div class="col-md-4 col-lg-4 col-xs-4">
                    <div>
                      <span class="highlight">Venue</span>
                    </div>
                    <p><%=event.venue.name%></p>
                    <p><%=event.venue.city%>, <%=event.venue.country%></p>
                    <p><%=event.venue.street%></p>
                    <p><%=event.venue.postal_code%></p>
                    <p><%=event.phone%></p>
                    <p><%=link_to event.website,event.website, :target => '_blank'%></p>
                  </div>
                  <div class="col-md-4 col-lg-4 col-xs-4">
                    <%if event.venue.geo_location[:lat] != '' && event.venue.geo_location[:long] != ''%>
                        <div class='icomatic' style="font-size:30px;"><span>location</span></div>
                    <%end%>
                    <p>find more shows here</p>

                  </div>
                </div>
              </div>
          <%end%>
        </div>
      </div>
  </div>




