<div class="container">
  <div class="jumbotron jumbotron-releases">
    <h1><%=@band_name%></h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
            <%=@release.release_date%> </br>
            <%=@release.release_name%> </br>
      <img src='<%=@release.release_image%>'/>
     </div>
  </div>
  <%=@json%>
</div>