<div class="container">
  <div class="jumbotron jumbotron-releases">
    <div class="row">
      <div class="col-md-1 col-sm-1">
        <div style="margin-top: 30px;">
          <%=link_to releases_path({:id => @r[:mbid]}) do%>
              <div class="icomatic" style="font-size:30px;padding-bottom:10px;"><span>backlight</span></div>
          <%end%>
        </div>

      </div>
      <div class="col-md-11 col-sm-11 col-xs-12">
        <h1><%=@r[:artist]%></h1>
        <p class="highlight"><%=@r[:release_name]%></p>
      </div>
    </div>
  </div>


      <div class='well well-lg'>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4">
            <img src='<%=@r[:release_image]%>'/>
          </div>
          <div class="col-md-2 col-sm-4">
            <p class="highlight"><%=@r[:release_date].strftime('%B %d, %Y')%></p>
            <p class="name-md"><%=@r[:release_name]%></p>
          </div>
          <div class="col-md-6 col-sm-4">
            <%@r[:tracks].each do |t|%>
                <%=t.name%>&nbsp;
                <em><%=t.duration_in_minutes%></em>
                </br>
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= link_to 'http://www.7digital.com/artist/'+ @r[:artist_url_friendly] +'/release/'+ @r[:release_name_url_friendly], :target => '_blank' do%>
                <div class='icomatic' style="display:inline;font-size:14px; margin:0 0 0 10px;"><span>cart</span>&nbsp;<span>7digital</span></div>
            <%end%>

          </div>
          <div class="col-md-2">
            <%=link_to 'http://www.amazon.com/gp/search?ie=UTF8&keywords='+ @r[:artist] +'%20'+ @r[:release_name], :target => '_blank' do%>
            <div class='icomatic' style="display:inline;font-size:14px; margin:0 0 0 10px;"><span>cart</span>&nbsp;<span>Amazon</span></div>
            <%end%>
          </div>
        </div>
      </div>
     </div>
