<div class="container">
  <div class="jumbotron jumbotron-releases" ng-controller="releasesController">
    <div class="row">
      <div class="col-md-1 col-sm-1">
        <div style="margin-top: 30px;">
          <save-artist event="saveArtist('<%=@artist['id']%>')"></save-artist>
        </div>

      </div>
      <div class="col-md-11 col-sm-11 col-xs-12">
        <h1><%=@artist['name']%></h1>
        <p class="highlight"><%=@artist['placeformed']%></p>
        <%unless @artist['members'].empty?%>
            <div class="row">
              <div class="col-md-12">
                <ul class="members">
                  <%if @artist['members'].is_a? Array%>
                      <%@artist['members'].each_with_index do |member, i|%>
                          <li><%=member['name'].to_s%><%=', ' unless i == @artist['members'].length-1%></li>
                      <%end%>
                  <%else%>
                      <%=@artist['members']['name']%>
                  <%end%>
                </ul>
              </div>
            </div>
        <%end%>
        <p class="detail-sm">
          <%unless @artist['date_formed'].empty?%>
              <%if @artist['date_formed'].is_a? Array%>

              <%else%>

                      <%= @artist['date_formed']['formation']['yearfrom'].nil? ? 'the past' : @artist['date_formed']['formation']['yearfrom']%> -
                      <%= @artist['date_formed']['formation']['yearto'].blank? ? 'present': @artist['date_formed']['formation']['yearto']%>

              <%end%>
          <%end%>

        </p>

      <div class="row">
        <div class="col-md-6 tags highlight">
          <%unless @artist['tags'].nil? || @artist['tags'] == ''%>
              <%@artist['tags'].each_with_index do |tag, i|%>
                  <%=tag['name']%><%=',  ' unless i == @artist['tags'].length-1%>
              <%end%>
          <%end%>
        </div>
      </div>
      <p class="summary-small"><%=@artist['summary']%></p>
      <div class="row">
        <div class="col-md-2">
          <%=link_to 'similar', similar_path(:id => @artist['id'])%>
        </div>
        <div class="col-md-2">
          <%if @artist['tour'] == '1'%>
              <%= link_to 'tour dates', tour_path(:id => @artist['id']) %>
          <%end%>
        </div>
        <div class="col-md-4">

        </div>
    </div>
  </div>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="row">
        <% @releases.each_with_index do |release, index| %>
            <% if index % 2 == 0 && index != 0%>
                </div>
                <div class="row">
            <%end%>
            <div class="col-md-6">
              <div class="well well-sm well-release">
                <p class="highlight"><%=release[:release_year]%></p>

                <div class="row" style="margin-bottom: 2px;">
                  <div class="col-md-10">
                    <%= link_to release_path({:release => release[:title], :artist => @artist['name'],:mbid => @artist['id']}) do%>
                    <div style="width:auto; float:left;">
                        <p class="name-md"><%=release[:title]%></p>
                    </div>
                    <div class='icomatic' style="float:left; display:inline;font-size:20px; margin:5px 0 0 10px;"><span>next</span></div>
                    <%end%>
                  </div>
                  <div class="col-md-2">
                    <%if release[:release_year] == @year && release[:release_month] == @month %>
                        <span class="topcoat-notification">new</span>
                    <%end%>
                  </div>
                </div>
                <p class="highlight"><%=release[:type]%></p>
              </div>
            </div>
        <%end%>
    </div>
  </div>
</div>

</div>