<div class="container">
  <div class="jumbotron jumbotron-releases">

    <h1><%=@band_name%></h1>

    <p class="highlight"><%=@placeformed%></p>
    <%unless @members.empty?%>
        <div class="row">
          <div class="col-md-12">
            <ul class="members">
              <%@members.each_with_index do |member, i|%>
                  <li><%=member['name'].to_s%><%=', ' unless i == @members.length-1%></li>
              <%end%>
            </ul>
          </div>
        </div>
    <%end%>
    <p class="detail-sm">
    <%@formation.each_with_index do |date, i| %>
        <%if @is_array%>
            <%if date['yearto'] == ''%>
                <%yearto = 'present'%>
            <%else%>
                <%yearto = date['yearto']%>
            <%end%>
            <%=date['yearfrom']%> - <%=yearto%> <%=', ' unless i == @formation.length-1%>
        <%else%>
            <%if date[1]['yearto'] == ''%>
                <%yearto = 'present'%>
            <%else%>
                <%yearto = date[1]['yearto']%>
            <%end%>
           <%=date[1]['yearfrom']%> - <%=yearto%>
        <%end%>
    <%end%>
    </p>
    <div class="row">
      <div class="col-md-6 tags highlight">
        <%@json_tags.each_with_index do |tag, i|%>
            <%=tag['name']%><%=',  ' unless i == @json_tags.length-1%>
        <%end%>
      </div>
    </div>
    <p class="summary-small"><%=@summary%></p>

    <div class="row">
      <div class="col-md-2">
        <%=link_to 'similar', similar_path(:id => @arid)%>
      </div>
      <div class="col-md-2">
        <%if @on_tour == '1'%>
         <%= link_to 'tour dates', tour_path(:id => @arid) %>
        <%end%>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="row">
        <% @releases.each_with_index do |release, index| %>
            <% if index % 2 == 0 && index != 0%>
                </div>
                <div class="row">
            <%end%>
            <div class="col-md-6">
              <div class="well well-sm well-release">
                <p class="highlight"><%=release[:release_year]%></p>

                <div class="row" style="margin-bottom: 2px;">
                  <div class="col-md-10">
                    <%= link_to release_path({:release => release[:title], :artist => @band_name}) do%>
                    <div style="width:auto; float:left;">
                        <p class="name-md"><%=release[:title]%></p>
                    </div>
                    <div class='icomatic' style="float:left; display:inline;font-size:20px; margin:5px 0 0 10px;"><span>next</span></div>
                    <%end%>
                  </div>
                  <div class="col-md-2">
                    <%if release[:release_year] == @year && release[:release_month] == @month %>
                        <span class="topcoat-notification">new</span>
                    <%end%>
                  </div>
                </div>
                <p class="highlight"><%=release[:type]%></p>
              </div>
            </div>
        <%end%>
    </div>
  </div>
</div>
</div>